.streamButtonCont{
    width: 45%;
    right: 0;
    position: absolute;
    bottom: 0;
    height: 33%;
    text-align: center;
}

.streamButton{
    display: inline-block;
    margin: 0 auto;
}

.video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}