.home {
  background-color: grey;
  text-align: left;
  height: 50px;
  line-height: 50px;
}
.barbecue {
  background-color: green;
  height: 50px;
}
.ponto1 {
  display: block;
  background-color: green;
  height: 400px;
  width: 500px;
  margin-top: 200px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  line-height: 400px;
}
