.funcionalidade {
    position: absolute;
    display: block;
    top: 20%;
    left:0;
    right: 0;
    margin: auto;
    background-color: red;
    opacity: 0;
    height: 500px;
    width: 500px;
    text-align: center;
    line-height: 500px;
}
