.widget{
    float: right;
    background: #627480;
    margin: 0 1em 1em 0;
    height: 358px;
    width: 179px;
    border-bottom-right-radius: 358px;
    border-top-right-radius: 358px;
    border-top: solid 2px black;
    border-right: solid 2px black;
    border-bottom: solid 2px black;
    overflow: auto;
    border-left: solid 1px black;

}

.info{
    font-family: sans-serif;
}

.loc {
    position:relative;
    margin: auto;
    margin-top:25px;
    margin-left:5px;
    font-size: 30px;
    padding-top:40px;
}

.infoTxt{
    margin-top:5px;
    margin-left:15px;
    font-size: 24px;
    
}

.callInfo{
    height: 50%;
    position: block;
}